html{font-family:"微软雅黑",Arial,sans-serif}
*{margin: 0;padding: 0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,button,textarea,p,th,td,b,i,strong{padding:0;margin:0;font-family:Microsoft YaHei,sans-serif,Arial}
strong,b{font-weight: normal;}
fieldset,img{border:0}
a{text-decoration:none;color:#000;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
input:focus{box-shadow: none;outline: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}


html, body{
    margin: 0;
    padding: 0;
    height: 100%;
	
}

body{
	overflow: hidden;
}
.main-container{
	position: relative;
	height: 100%;
}
.fixed{
	position: absolute;
	left: 50%;
	top: 0;
	width: 2100px;
	height: 100%;
	-webkit-transform: translate(-50%, -30px);
	transform: translate(-50%, -30px);
}

#ta-wrapper{
	width: 2100px;
	height: 100%;
	-webkit-transform-origin: 0% 110%;
	transform-origin: 0% 110%;
	background-image: url(../images/zyt-ta1.png);
	background-size: auto 1080px;
	background-position: center top;
}
.frame-img{
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;top: 0;
	display: none;
}
.frame-img.show{
	display: block;
}
.btn-play{background:url(../images/taptap_yuyue.png) center top no-repeat;cursor:pointer;position:absolute;left:50%;top:560px;width:233px;margin-left:-117px;height:85px}


 .weibo-box, .gzh-box, .qq-box{width:149px;position:absolute;top:60px}
 .weibo-box .btn,.gzh-box .btn,.qq-box .btn{cursor:pointer;position:absolute;left:0;top:0;width:149px;height:47px}
 .btn-gzh{background:url(../images/btn-gzh.png) center top no-repeat}
 .btn-qq{background:url(../images/btn-qq.png) center top no-repeat}
 .btn-weibo{background:url(../images/btn-weibo.png) center top no-repeat;}
 .weibo-box .content,.gzh-box .content, .qq-box .content{display:none;position:absolute;left:0;top:0;width:148px;height:128px;padding-top:46px;text-align:center}
.weibo-box .content .handle, .gzh-box .content .handle,.qq-box .content .handle{cursor:pointer;position:absolute;left:0;top:0;width:100%;height:47px}
 .weibo-box .weibo-content{background:url(../images/weibo-bg.png) center top no-repeat}
 .gzh-box .gzh-content{background:url(../images/gzh-bg.png) center top no-repeat}
 .qq-box .qq-content{background:url(../images/qq-bg.png) center top no-repeat}
 .weibo-box .ewm,.gzh-box .ewm, .qq-box .ewm{width:106px;height:106px}
.index-content .weibo-box{right:354px}
.index-content .gzh-box{right:195px}
.index-content .qq-box{right:35px}


.tan_ce{background:rgba(0,0,0,0.7);position:absolute;left:0;top:0;width:100%;height:100%;z-index:2; display: none;}
.tan_ce .bg{position:absolute;left:0;top:0;width:100%;height:100%;}
.tan{background:url(../images/tan_bg.png) center top no-repeat;background-size:100% 100%;width:696px;position:fixed;left:50%;margin-left:-348px;top:50%;height:500px;margin-top:-250px}

.btn1  {position: absolute;top: 50px; left: 206px;width: 337px; height: 53px;}
.btn1 img{width:100px; height: 100px;}
.ma_download1 {     position: absolute;top: 129px;left: 253px; width: 280px; height: 32px; color: #000000; font-weight: bold; }
.ma_download1 span{margin-right:0.05px; font-size:18px;}
.input1 { border:1px solid #f00;      height:52px; width: 260px;position: absolute;top: 322px;  left: 206px;text-align: center;}
.text_content1{width:260px; height:52px; line-height:52px; background:none; font-size:18px; float:left; border:none; overflow:hidden;text-align:center; }
.login_btn a{   border:1px solid #f00;       position: absolute;top: 425px; left: 18px; width: 350px; height: 104px; display: block;}
.chaxun_btn a{ border:1px solid #f00;   position: absolute; top: 425px; left: 375px; width: 150px;height: 104px; display: block;}
.close{position:absolute; top:-74px; right:0px;}


/*.loading-box{background:url(../images/enter-bg.jpg) center top no-repeat;background-size:cover;width:100%;height:100%;overflow:hidden;position:relative}*/
.bg{position:absolute;left:50%;top:0;width:2100px;margin-left:-1050px;height:1080px}
