html,body{
	margin: 0;
	padding: 0;
	background-color: #111;
	color: #eeeeee;
	height: 100vh;
	font-size: 14px;
}
.ipt-container{
	padding: 10px;
	position: relative;
	overflow: scroll;
	white-space:nowrap;
	height: 100%;
}
.btn-wrapper{
	position: fixed;
	right: 12px;
	bottom: 50px;
}
.btn-wrapper button{
	display: block;
	margin-top: 6px;
	padding: 5px 20px;
	border: none;
	border-radius: 4px;
	-webkit-tap-highlight-color: rgba(0,0,0,);
	outline: none;
}
